.waveform-container{
    background-color: black;
    width: 100%;
    height: 175px;
    border-radius:5px;
}

.side-container{
    background-color: black;
    width: 100%;
    height: 175px;
    border-radius:5px;
}

.temp-container{
    background-color: black;
    width: 100%;
    height: 125px;
    border-radius:5px;
}

.pressure-container{
    background-color: black;
    width: 100%;
    height: 50px;
    border-radius:5px;
}

.patient-container{
    background-color: black;
    width: 100%;
    height: auto;
    border-radius:5px;
}